@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --html: #6AA4BC;
    --css: #BD92EA;
    --js: #FFCA28;
    --php: #AE508D;
}
html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body {
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: #1A1A1A;
    color: #fff;
    padding: 2rem 0;
}
.container {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
}
.main-heading {
    font-size: 3rem;
    background: -webkit-linear-gradient(45deg, #42D392, #5F8BEF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 2rem;
}

/*==== ITEM-CARD ==================*/
.item-card {
    margin-bottom: 1rem;
}
.item-name {
    background: #41295a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2F0743, #41295a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2F0743, #41295a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    font-size: .8rem;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    padding: 1rem;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.2s;
}
.active, .item-name:hover {
    background-color: #ccc;
}
.item-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.item-name:after {
    content: '+';
    font-size: 1rem;
    color: #fff;
    float: right;
    transition: .2s
}
.active:after {
    transform: rotateZ(45deg);
}
.code-panel {
    font-family: 'Inconsolata', monospace !important;
    background-color: #242424;
    border-radius: 4px;
    margin: .5rem 0;
    padding: 1rem;
    position: relative;
}
.code-panel::before {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    padding: 0.2rem 0.5rem;
    border-radius: 3px;
    font-size: 0.7rem;
    color: #333;
    text-transform: uppercase;
}
.code-panel.html {
    color: var(--html);
}
.code-panel.html::before {
    content: 'html';
    background-color: var(--html);
}
.code-panel.css {
    color: var(--css);
}
.code-panel.css::before {
    content: 'css';
    background-color: var(--css);
}
.code-panel.js {
    color: var(--js);
}
.code-panel.js::before {
    content: 'js';
    background-color: var(--js);
}
.code-panel.php {
    color: var(--php);
}
.code-panel.php::before {
    content: 'php';
    background-color: var(--php);
}
.code-panel code {
    font-family: 'Inconsolata', monospace !important;
    font-size: 0.8rem;
    line-height: 1.5;
}
