@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --html: #6AA4BC;
    --css: #BD92EA;
    --js: #FFCA28;
    --jquery: #548bb2;
    --php: #ec7fc6;
}
html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body {
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: #1A1A1A;
    color: #fff;
    padding: 2rem 0;
}
a {
    color: #94C379;
}
.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}
.main-heading {
    font-size: 3rem;
    background: -webkit-linear-gradient(45deg, #42D392, #5F8BEF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0.5rem;
}
.author {
    font-size: 0.7rem;  
    margin-bottom: 1rem; 
}

/*==== FILTER-LIST ================*/
.control-panel {
    margin-bottom: 1rem;
}
.filter-list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.filter-list-item {
    list-style: none;
    margin-left: 0.2rem;
    padding: 0.3rem 0.6rem;
    border-radius: 3px;
    font-size: 0.8rem;
    font-weight: 700;
    text-shadow: 0 3px 6px #111;
    cursor: pointer;
    transition: .2s
}
.filter-list-item:hover {
    opacity: .8;
}
.filter-list-item.html {
    background-color: var(--html);
}
.filter-list-item.css {
    background-color: var(--css);
}
.filter-list-item.js {
    background-color: var(--js);
}
.filter-list-item.jquery {
    background-color: var(--jquery);
}
.filter-list-item.php {
    background-color: var(--php);
}

/*==== ITEM-CARD ==================*/
.item-card {
    margin-bottom: 0.7rem;
}
.item-name {
    background-color: #703FA3;
    color: #fff;
    font-size: .8rem;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0 3px 6px #111;
    cursor: pointer;
    padding: 1rem;
    width: 100%;
    text-align: left;
    border-radius: 4px 4px 0 0;
    border: none;
    outline: none;
    transition: 0.2s;
}
.active, .item-name:hover {
    opacity: .7;
}
.item-name-icon {
    height: 14px;
    width: auto;
    margin-right: 0.5rem;
}
.item-content {
    max-height: 0;
    background-color: #35363A;
    padding: 0 0.5rem 0.3rem 0.5rem;
    border-radius: 0 0 4px 4px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.item-name:after {
    content: '+';
    font-size: 1rem;
    color: #fff;
    float: right;
    transition: .2s
}
.active:after {
    transform: rotateZ(45deg);
}
.code-panel {
    font-family: 'Inconsolata', monospace !important;
    background-color: #242424;
    border-radius: 4px;
    margin: .5rem 0;
    padding: 0 1rem;
    position: relative;
    overflow-x: scroll;
}
.code-panel::before {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    padding: 0.2rem 0.5rem;
    border-radius: 3px;
    font-size: 0.7rem;
    font-weight: 600;
    color: #333;
    text-transform: uppercase;
}
.code-panel.html {
    color: var(--html);
}
.code-panel.html::before {
    content: 'html';
    background-color: var(--html);
}
.code-panel.css {
    color: var(--css);
}
.code-panel.css::before {
    content: 'css';
    background-color: var(--css);
}
.code-panel.js {
    color: var(--js);
}
.code-panel.js::before {
    content: 'js';
    background-color: var(--js);
}
.code-panel.jquery {
    color: var(--jquery);
}
.code-panel.jquery::before {
    content: 'jquery';
    background-color: var(--jquery);
}
.code-panel.php {
    color: var(--php);
}
.code-panel.php::before {
    content: 'php';
    background-color: var(--php);
}
.code-panel code {
    font-family: 'Inconsolata', monospace !important;
    font-size: 0.8rem;
    line-height: 1.5;
}
.hide {
    opacity: 0;
    transform: translateX(200%);
    height: 0;
    margin-bottom: 0;
    transition: .8s;
}
